.jumbotron{
    text-align: center;
    font-size: 10vh;
    background-color: #990000;
    color: white;
}

body{
        font-family: 'Satisfy', cursive;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(../images/pizza.jpg);
        width: 100%;
        height: 100%;
}

.col-md-4{
        background-color: #990000;
        color: white;
        border-radius: 25px;
        width: 30vh;
        margin: 5vh;
        padding: 8vh;
}

p{
        font-size: 7vh;
}
#pizza-form{
        font-size: 2vh;
}
